{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block page_content %}
    <table class="table table-bordered">
    <tr>
        <th>车次</th>
        <th>公司ID</th>
        <th>公司名称</th>
        <th>联系电话</th>
        <th>联系邮箱</th>
        <th>用户姓名</th>
        <th>所属公司</th>
        <th>用户ID</th>
        <th>公司ID</th>
        <th>公司名称</th>
        <th>联系电话</th>
        <th>联系邮箱</th>
        <th>用户姓名</th>
        <th>所属公司</th>
        <th>所属公司</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
                <td>{{ i[7] }}</td>
                <td>{{ i[8] }}</td>
                <td>{{ i[9] }}</td>
                <td>{{ i[10] }}</td>
                <td>{{ i[11] }}</td>
                <td>{{ i[12] }}</td>
                <td>{{ i[13] }}</td>
                <td>{{ i[14] }}</td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}